.places h1 {
  font-size: 30px;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  position: relative;
}

.places > div {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.places article > h2 {
  font-size: 30px;
  text-align: center;
}

.price_by_night {
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  padding: 5px;
  font-size: 30px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.information {
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.information > section {
  width: 100px;
}

.max_guest .icon {
  height: 50px;
  width: 50px;
  background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_group.png");
  background-repeat: no-repeat;
}
.number_rooms .icon {
  height: 50px;
  width: 50px;
  background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_bed.png");
  background-repeat: no-repeat;
}
.number_bathrooms .icon {
  height: 50px;
  width: 50px;
  background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_bath.png");
  background-repeat: no-repeat;
}

.user > p > span {
  font-weight: bold;
}

.places .amenities {
  margin-top: 40px;
}

.places .amenities > h2 {
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
}

.places .amenities > ul {
  list-style: none;
}

.places .amenities > ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tv {
  height: 50px;
  width: 50px;
  background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_tv.png");
  background-repeat: no-repeat;
}
.wifi {
  height: 50px;
  width: 50px;
  background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_wifi.png");
  background-repeat: no-repeat;
}
.pet_friendly {
  height: 50px;
  width: 50px;
  background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon_pets.png");
  background-repeat: no-repeat;
}

.reviews {
  margin-top: 40px;
}

.reviews > h2 {
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
}

.reviews > ul {
  list-style: none;
}

.reviews > ul li h3 {
  font-size: 14px;
}
.reviews > ul li p {
  font-size: 12px;
}
